.container{
    font-family: Arial;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "navleft nav navright"
    ". content ."
    ". . ."
    ;
}

.content {
    display: grid;
    grid-area: content;
    grid-template-areas:
    "logo"
    "searchbar"
    "searchbuttons"
    "info"  ;
    row-gap: 1em; 
}

.logo {
    grid-area: logo;
    justify-self: center;
}

.content input[type=text] {
    grid-area: searchbar;
    border-width: 0px;
    border-radius: 20px;
    box-shadow: 0 0 2px;
    width: 100%;
    height: 30px;
}

.searchbuttons{
    grid-area: searchbuttons;
    justify-content: center;
    display:flex;
    
}

.searchbutton{
    padding: 5px;
    margin: 5px;
    border-width: 0px;
}

.luckbutton{
    padding: 5px;
    margin: 5px;
    border-width: 0px;

}

.info{
    grid-area: info;
}

.navleft{
    font-size: 14px;
    grid-area: navleft;
    justify-self: flex-start;
}
.navright{
    font-size: 14px;
    grid-area: navright;
    justify-self: flex-end;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; 
}

li{
    margin: 10px;
}

a{
    color: black;
}

.navright input[type="button"]{
    margin: 6px;
    border-width: 0px;
    background-color: rgb(66, 133, 244);
    border-radius: 2px;
    color: white;
    height: 25px;
    width:80px;
}

footer{
    position: fixed;
    left: 0;
    bottom:0;
    width: 100%;
    background-color: lightgrey;
    border-width: 2px;
    border-color: black;
}


